html, body {
 margin: 0;
 padding: 0;
 }
body {
 background-color: rgb(205, 157, 233);;
 font-family: Verdana, sans-serif;
 font-size: 100%;
 }
h1 {
 font-size: 50px;
 color: navy;
 text-align: center;
 text-decoration-style: double;
 }
h2 {
 font-size: 150%;
 color: red;
 padding-left: 15px;
 text-decoration: underline;
 }
p,ul,li,td {
 color: black;
 }
a:link {
 color: green;
 text-decoration: underline;
 }
a:visited {
 color: gray;
 }
a:hover {
 color: red;
 text-decoration: none;
}

a:active, a:focus {
 color: red;
}

.page {
  background-color: gray;

  p {
    color: $color;
  }
}

p{
  color: white;
  font-size: 30px;
}
.container{
  display : flex;
  
}

.row{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  
}

.wrap{
  display : flex;
  flex-direction : wrap;
  justify-content: space-around;

}

.index_body{
  background-color: black;
  color: red;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}


.flex-basis {
  display : flex;
  flex-direction: column;
}

.flex2 {
  flex-basis : 300px;
  color: #333;
}

.explication{
  font-style: italic;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
}
.two { 
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}
